backcall==0.1.0
cloudpickle==0.8.1
ConfigSpace==0.4.8
cycler==0.10.0
Cython==0.29.6
dask==1.1.4
decorator==4.4.0
hpbandster==0.7.4
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
kiwisolver==1.0.1
matplotlib==3.0.2
modules==1.0.0
netifaces==0.10.9
networkx==2.2
numpy==1.16.1
opencv-python==4.0.1.24
pandas==0.24.1
parso==0.3.3
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pydensecrf==1.0rc3
Pygments==2.3.1
pyparsing==2.3.1
Pyro4==4.75
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==3.13
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
serpent==1.27
six==1.12.0
sklearn==0.0
statsmodels==0.9.0
toolz==0.9.0
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.30.0
traitlets==4.3.2
typing==3.6.6
wcwidth==0.1.7
